body {
    background-color: #212937;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 100px;
}

.header {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.ukrainian-word {
    background: linear-gradient(135deg, #015bbb, #fed500);
    -webkit-background-clip: text;
    color: transparent;
}

.qr-container {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.joke-container {
    display: inline-block;
    text-align: left;
    padding: 30px;
    border: 2px solid #3bd671;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 20px;
    max-width: 50%;
    margin-bottom: 16px;
}

.random-button {
    display: block;
    margin: 20px auto;
    background-color: #3bd671;
    color: #212937;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.qr-code {
    border-radius: 24px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
}

.telegram-link {
    color: #3bd671;
    text-decoration: none;
}

.scan-notice {
    font-size: 20px;
    color: gray;
    margin-top: 10px;
}

.contact-us {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.modal-content {
    background-color: #212937;
    width: 30%;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #3bd671;
    border-radius: 10px;
    color: white;
}


.input-container {
    position: relative;
    margin-bottom: 10px;
}

.idea-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #131a26;
    color: white !important;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.clear-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 28px;
    color: #3bd671;
}

.clear-icon:hover {
    color: #fff;
}


@media screen and (max-width: 767px) {
    .container {
        margin-top: 15px;
    }

    .header {
        font-size: 24px;
        margin-top: 15px;
    }

    .modal-content {
        width: 90%;
        margin: 30% auto;
        padding: 15px;
    }
}